html { height: 100%; }

body { 
	background: #111; 
	color: white;
	height: 100%;
	overflow: hidden;
	-webkit-perspective: 800px;
	perspective: 800px;
	width: 100%;
}

/* 
=======================
	Site Specific Stuff
=======================
*/

.tweeter {
	float: left;
	margin-right: 20px;
	position: relative;
	z-index: 1;
}


/* 
=======================
	Background Crap 
=======================
*/

.space {
	-webkit-animation: pulse 1s infinite alternate;
	animation: pulse 1s infinite alternate;
	background: rgba(9, 109, 201,0.2);
	max-width: 140px;
	min-width: 32px;
	min-height: 32px;
	position: absolute;
}

	.space.purple { 
		-webkit-animation-name: pulseY; background: rgba(56, 9, 196,0.2);
		animation-name: pulseY; background: rgba(56, 9, 196,0.2); 
	}

@-webkit-keyframes pulse {
	0% { opacity: 0.1; -webkit-transform: rotateX(-5deg); }
	100% { opacity: 0.3; -webkit-transform: rotateX(5deg); }
}

@-webkit-keyframes pulseY {
	0% { opacity: 0.01; -webkit-transform: rotateY(-5deg) scale(1); }
	100% { opacity: 0.3; -webkit-transform: rotateY(5deg) scale(1.2); }
}

@keyframes pulse {
	0% { opacity: 0.1; transform: rotateX(-5deg); }
	100% { opacity: 0.3; transform: rotateX(5deg); }
}

@keyframes pulseY {
	0% { opacity: 0.01; transform: rotateY(-5deg) scale(1); }
	100% { opacity: 0.3; transform: rotateY(5deg) scale(1.2); }
}