html { height: 100%; }

body { 
	background: #111; 
	color: white;
	height: 100%;
	overflow: hidden;
	-webkit-perspective: 800px;
	perspective: 800px;
	width: 100%;
}

/* 
=======================
	Site Specific Stuff
=======================
*/

.tweeter {
	float: left;
	margin-right: 20px;
	position: relative;
	z-index: 1;
}
<<<<<<< HEAD
=======
	.tweeter i {
		background: rgba(255,255,255,0.4);
		border-radius: 100px;
		display: block;
		height: 200px;
		margin: 0 auto 10px;
		overflow: hidden;
		position: relative;
		width: 200px;
	}

	.tweeter img {
		width: 100%;
		position: absolute;
		top: 50%; left: 50%;
		-webkit-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
	}
	
	.tweeter a, .tweeter span { display: block; }
>>>>>>> 4486e72cbd4a07046cd124f1380ff2ba93b0267c


/* 
=======================
	Background Crap 
=======================
*/

.space {
	-webkit-animation: pulse 1s infinite alternate;
	animation: pulse 1s infinite alternate;
	background: rgba(9, 109, 201,0.2);
	max-width: 140px;
	min-width: 32px;
	min-height: 32px;
	position: absolute;
}

	.space.purple { 
		-webkit-animation-name: pulseY; background: rgba(56, 9, 196,0.2);
		animation-name: pulseY; background: rgba(56, 9, 196,0.2); 
	}

@-webkit-keyframes pulse {
	0% { opacity: 0.1; -webkit-transform: rotateX(-5deg); }
	100% { opacity: 0.3; -webkit-transform: rotateX(5deg); }
}

@-webkit-keyframes pulseY {
	0% { opacity: 0.01; -webkit-transform: rotateY(-5deg) scale(1); }
	100% { opacity: 0.3; -webkit-transform: rotateY(5deg) scale(1.2); }
}

@keyframes pulse {
	0% { opacity: 0.1; transform: rotateX(-5deg); }
	100% { opacity: 0.3; transform: rotateX(5deg); }
}

@keyframes pulseY {
	0% { opacity: 0.01; transform: rotateY(-5deg) scale(1); }
	100% { opacity: 0.3; transform: rotateY(5deg) scale(1.2); }
}